<!-- FOOTER -->
<div id="footer" class="mb-0">
    <!-- CONTAINER -->
    <div class="container flex flex-col-reverse justify-between px-6 py-10 mx-auto space-y-8 md:flex-row md:space-y-0">
        <!-- LOGO AND SOCIAL LINKS CONTAINER -->
        <div class="flex flex-col-reverse items-center justify-between space-y-12 md:flex-col md:space-y-0 md:items-start">
            <div class="mx-auto my-6 text-center md:hidden">
                COPYRIGHT &copy; 2022, ALL Rights Reserved
            </div>

           
        </div>
        <!-- LIST CONTAINER -->
        <div class="flex justify-around space-x-32">
            <div class="flex flex-col space-y-3 text-center">
                <a href="#" class="">These</a>
                <a href="#" class="">Buttons</a>
                <a href="#" class="">Do</a>
                <a href="#" class="">Nothing</a>
            </div>
            <div class="flex flex-col space-y-3 text-center">
                <a href="#" class="">I</a>
                <a href="#" class="">Promise</a>
                <a href="#" class="">You</a>
            </div>
        </div>
        <!-- INPUT CONTAINER -->
        <div class="flex flex-col justify-between">
            <form>
                <div class="flex space-x-3">
                    <input type="text"
                            class="flex-1 px-4 rounded-full focus:outline-none"
                            placeholder="You can try to input information here but it won't do anything!'" />
                    <button class="px-6 py-2 rounded-full focus:outline-none">
                        GO
                    </button>
                </div>
            </form>
            <!-- COPYRIGHT -->
            <div class="hidden md:block">
                COPYRIGHT &copy; 2022, ALL Rights Removed because its 2022
            </div>
        </div>

    </div>
    
</div>