@{
    ViewData["Title"] = "Home";
}


<div class="text-center text-4xl">
    <div class="text-8xl p-4">NANA</div>
    <p>Not Another Notes App</p>
    </br>
    <h1 class="text-2xl">I used this project to learn about:</h1>
    <div >
        <ul class="list-disc">
            <li >- Implementing partial views and view components</li>
            <li >- Implementing CRUD actions via models using:
                
                <ul ">
                    <li>
                        * Javascript
                    </li> 
                    <li>
                        * JQuery
                    </li>
                    <li>
                        * Ajax
                    </li>
                </ul>
            </li>
            <li >- Implementing DaisyUI
                <ul>
                    <li>** DaisyUI Is a framework built on TailwindCSS</li>
                </ul>
            </li>
            <li>- This was made in ASP .Net MVC</li>
        </ul>
    </div>
   
</div>


