
@{
    ViewData["Title"] = "Home";
}


<div class="text-center text-4xl">
    <div class="text-8xl p-4">NANA</div>
    <p>Not Another Notes App</p>
    </br>
    <p>This  was used to learn to properly use partial views and view models to create a single page app from ASP .NET MVC</p>

</div>


