@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <div class="text-8xl p-4">NANA</div>
    <p class="text-4xl">Not Another Notes App</p>
    </br>
    <hr />
    </br>

    <p class="text-4xl mb-2">I used this project to learn about:</p>
    </br>
    <div>
        <ul >
            <li >- Implementing partial views and view components</li>
            <li >
                - Implementing CRUD actions via models using:

                <ul >
                    <li>
                        * Javascript
                    </li>
                    <li>
                        * JQuery
                    </li>
                    <li>
                        * Ajax
                    </li>
                </ul>
            </li>
            <li >
                - Implementing DaisyUI
                <ul>
                    <li>** DaisyUI Is a framework built on TailwindCSS</li>
                </ul>
            </li>
            <li >- This was made in ASP .Net MVC</li>
        </ul>
    </div>

</div>


